<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header>
    <h1>My Tech Blog</h1>
  </header>
  <nav>
  </nav>
  <main>
    {{{body}}}
  </main>

  <button id="logout">Log Out</button>

  <script src="/js/logout.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>