<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header>
    <h1>My Tech Blog</h1>
    <nav>
      <a href="/">HOME</a> 
      {{#if userInfo.loggedIn}}
      {{userInfo.username}} 
      <a href="/logout" id="logout">Log out</a> <a href="/dash">Dashboard</a>
      {{else}}
      <a href="/login">Log in</a> 
      {{/if}}
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>

  {{#if userInfo.loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>