<h2>Log in or create a new account</h2>
<form id="login-form" class="border bg-light p-2 p-lg-3">
    <label for="email-login">Email</label>
    <input type="text" id="email-login" />
    <label for="password-login">Password</label>
    <input type="password" id="password-login" />
    <button type="submit" class="btn btn-primary btn-sm rounded-pill">LOG IN</button>
</form>
<form id="signup-form" class="border bg-light p-2 p-lg-3">
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup" />
    <label for="email-signup">Email</label>
    <input type="text" id="email-signup" />
    <label for="password-signup">Password</label>
    <input type="password" id="password-signup" />
    <button type="submit" class="btn btn-primary btn-sm rounded-pill">SIGN UP</button>
</form>

<script src="/js/login.js"></script>