<div class="container">
    <div class="row row-cols-1 row-cols-sm-2">
        <div class="col login-create">
            <h2>Log in</h2>
            <form id="login-form" class="border bg-light p-3 m-0">
                <label for="username-login">Username</label>
                <input type="text" id="username-login" />
                <label for="password-login">Password</label>
                <input type="password" id="password-login" />
                <button type="submit" id="loginBtn" class="btn btn-primary btn-sm rounded-pill">LOG IN</button>
            </form>
        </div>
        <div class="col login-create">
            <h2>Create new account</h2>
            <form id="signup-form" class="border bg-light p-3 m-0">
                <label for="username-signup">Username</label>
                <input type="text" id="username-signup" />
                <label for="email-signup">Email</label>
                <input type="text" id="email-signup" />
                <label for="password-signup">Password</label>
                <input type="password" id="password-signup" />
                <button type="submit" id="createBtn" class="btn btn-primary btn-sm rounded-pill">SIGN UP</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>