/* --- GLOBAL COLOR VARIABLES --- */

:root {
    --page-background: #d6ddec;
    --main: #2d3e81;
    --main-text: #ffffff;
    --main-hover: rgb(175, 175, 232);
    --headline-color: rgb(147, 48, 26);
    --cite-color: #777777;
    --comment-color: #777777;
    --comment-cite-color: #aaaaaa;
}

/* --- BODY AND HEADER --- */

body {
    background-color: var(--page-background);
}

header {
    background-color: var(--main);
    color: var(--main-text);
}

header h1 {
    padding: 12px 12px 0;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a.bold-link {
    margin-bottom: 6px;
    color: var(--main);
    font-weight: 700;
}

div#warning {
    margin-top: 8px;
    color: #990000;
    font-weight: 700;
}


/* Header navigation */

header nav {
    padding: 0 0 12px;
    color: var(--main-hover);
}

header ul.navbar-nav {
    flex-direction: row;
    padding-bottom: 0;
}

ul.navbar-nav,
header div {
    margin-left: 12px;
    font-size: .8em;
}

header a,
header a.nav-link {
    padding: 0;
    color: var(--main-text);
    text-decoration: none;
}

header a:hover,
header a.nav-link:hover {
    color: var(--main-hover);
}

header li.nav-item {
    padding-right: 15px;
}


/* --- MAIN AREA --- */

main {
    padding: 12px;
}

main a {
    color: #000000;
}

main h2 {
    margin-bottom: 8px;
    font-weight: 700;
    color: var(--headline-color);
}

main h3 {
    margin-bottom: 3px;
    font-size: 1.2em;
    font-weight: 500;
}

main h3 a {
    color: var(--headline-color);
    text-decoration: none;
}

/* Post lists */

main div.container {
    margin-top: 6px;
    margin-left: 0;
    padding-left: 0;
}

main ul {
    list-style-type: none;
    padding-left: 0;
}

main .row {
    align-items: start;
}

main cite,
main cite a {
    color: var(--cite-color);
}

main cite {
    display: block;
    font-size: 0.9em;
    font-style: normal;
}

main cite.by {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #bababa;
}

/* Comments */

main div#comments h3 {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #bababa;
    color: var(--main);
    font-size: 1.2em;
    font-weight: 700;
}

div#comments {
    color: var(--comment-color);
    font-size: .8em;
}

div#comments cite {
    color: var(--comment-cite-color);
}

div#add-comment h4 {
    margin-top: 12px;
    color: var(--main);
    font-size: 1em;
    font-weight: 700;
}

div#add-comment textarea {
    width: 75%;
    height: 75px;
    margin-right: 25%;
    font-size: .8em;
}


/* --- FORM PAGES --- */

form label {
    font-size: .8em;
    font-weight: bold;
    display: block;
}

/* Login and sign up */

div.login-create {
    margin-bottom: 12px;
}

form#login-form,
form#signup-form {
    max-width: 400px;
    min-width: 250px;
    margin-top: 12px;
    padding: 8px 0;
}

form#login-form input,
form#signup-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: .8em;
}

/* New and editing posts */

form#new-post input,
form#new-post textarea {
    width: 75%;
    margin-right: 25%;
    margin-bottom: 10px;
    font-size: .8em;
}

form#new-post textarea {
    height: 200px;
}

a.edit-post,
a.delete-post {
    font-size: .8em;
}